<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IMetadataExchange"
                    receiveTimeout="00:10:00" maxReceivedMessageSize="2048576">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>

            <wsHttpContextBinding>
                <binding name="ServiceMultipleTokenBinding_Common"
                  receiveTimeout="00:10:00" maxReceivedMessageSize="2048576">
                    <security mode="Message">
                        <message algorithmSuite="Default" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="ServiceMultipleTokenBinding_SecurityTokenService"
                         receiveTimeout="00:10:00" maxReceivedMessageSize="2048576">
                    <security mode="Message">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpContextBinding>
        </bindings>

        <client>
            <endpoint address="http://localhost:5725/ResourceManagementService/Resource" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Common" contract="Resource" name="ServiceMultipleTokenBinding_Resource">
                <identity>
                    <servicePrincipalName value="FIMService/localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5725/ResourceManagementService/ResourceFactory" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Common" contract="ResourceFactory" name="ServiceMultipleTokenBinding_ResourceFactory">
                <identity>
                    <servicePrincipalName value="FIMService/localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5725/ResourceManagementService/Enumeration" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Common" contract="Enumerate" name="ServiceMultipleTokenBinding_Search">
                <identity>
                    <servicePrincipalName value="FIMService/localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5725/ResourceManagementService/Alternate" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Common" contract="Alternate" name="ServiceMultipleTokenBinding_Alternate"/>
            <endpoint address="http://localhost:5725/ResourceManagementService/MEX" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMetadataExchange" contract="IMEX" name="MetadataExchangeHttpBinding_IMetadataExchange"/>
            <endpoint address="http://localhost:5726/ResourceManagementService/SecurityTokenService/Registration" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_SecurityTokenService" contract="SecurityTokenService" name="ServiceMultipleTokenBinding_SecurityTokenService">
                <identity>
                    <servicePrincipalName value="FIMService/localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>